html,body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}
.main {
    height: 100%;
    width: 100%;
    font-family: Microsoft YaHei;
}
#content {
    width: 100%;
    height: 100%;
}

#content a {
    color: #42b983;
    text-decoration: none;
}

.header {
    height: 10%;
    background-color: #324057;
}
.footer {
    height: 8%;
    line-height: 50px;
}
.container {
    height: 82%;
    width: 60%;
    margin: 0 auto;
}
.link {
    float: right !important;
}
.footerMsg {
    height: 100%;
    margin: 0 0;
    font-family: Microsoft YaHei;
    font-size: 80%;
    text-align: center;
}
.title {
    font-family: Microsoft YaHei;
    font-size: 120%;
    color: white !important;
}